<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/styles.css}"/>
    <link rel="icon" th:href="@{/resources/images/logo.png}">

    <title th:text="${page.getCaption()}"></title>
</head>
<body>
    <div class="header">
        <img th:src="@{/resources/images/logo.png}" alt="Site logo"/>
        <h2 th:text="${page.getCaption()}"> </h2>
    </div>

    <div class="topnav">
        <a th:href="@{/{code}/{lang}(code=${sitePage.getCode()}, lang=${sitePage.getLangAsString()})}"
           th:classappend="${page.getCode().equals(sitePage.getCode())} ? active : ''"
           th:each="sitePage : ${pages}" th:text="${sitePage.getCaption()}"></a>
        <a th:href="@{/{code}/en(code=${page.getCode()})}"
           th:classappend="${page.getLangAsString().equals('en')} ? active : ''">EN</a>
        <a th:href="@{/{code}/ua(code=${page.getCode()})}"
           th:classappend="${page.getLangAsString().equals('ua')} ? active : ''">UA</a>
        <a th:href="@{/{code}/ru(code=${page.getCode()})}"
           th:classappend="${page.getLangAsString().equals('ru')} ? active : ''">RU</a>
    </div>

    <div class="row">
        <div class="column side">
            <div>
                <a th:href="@{/{code}/{lang}(code=${childPage.getCode()}, lang=${childPage.getLangAsString()})}"
                   th:each="childPage : ${childPages}" th:text="${childPage.getCaption()}"
                   th:classappend="${page.getContainerType() != T(edu.web.cms.page.ContainerType).SIDE} ? '' : 'visible'">
                </a>
            </div>
        </div>
        <div class="column middle">
            <em>
                <div th:text="${page.getIntro()}"></div>
            </em>
            <img th:src="@{/resources/images/{image}(image=${page.getImageURL()})}" alt="Page specific image"/>
            <div th:text="${page.getText()}"></div>
                <a th:href="@{/{code}/{lang}(code=${childPage.getCode()}, lang=${childPage.getLangAsString()})}"
                   th:each="childPage : ${childPages}">
                    <img border="0"
                         th:title="${childPage.getCaption() + ': ' + childPage.getIntro() + '...'}"
                         th:classappend="${page.getContainerType() != T(edu.web.cms.page.ContainerType).TILES} ? '' : 'visible'"
                         th:src="@{/resources/images/{image}(image=${childPage.getImageURL()})}"
                    alt="Category image"/>
                </a>

        </div>
        <div class="column side"></div>
    </div>

    <div class="footer">
        <p>&copy;2018 CMS Simple, Inc. - Minimalistic approach for exciting solutions</p>
    </div>
</body>
</html>