<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="icon" th:href="@{/images/logo.png}">

    <title th:text="${page.getCaption()}"></title>
</head>
<body>
    <div class="header">
        <img th:src="@{/images/logo.png}" alt="Site logo"/>
        <h2 th:text="${page.getCaption()}"> </h2>
    </div>

    <div class="topnav">
        <a th:href="@{/{code}(code=${sitePage.getCode()})}"
           th:classappend="${page.getCode().equals(sitePage.getCode())} ? active : ''"
           th:each="sitePage : ${pages}" th:text="${sitePage.getCaption()}"></a>
    </div>

    <div class="row">
        <div class="column side"></div>
        <div class="column middle" th:text="${page.getText()}"></div>
        <div class="column side"></div>
    </div>

    <div class="footer">
        <p>&copy;2018 CMS Simple, Inc. - Minimalistic approach for exciting solutions</p>
    </div>
</body>
</html>